<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-Xqcy5ttufkC3rBa8EdiAyA1VgOGrmel2Y+wxm4K3kI3fcjTWlDWrlnxyD6hOi3PF" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <base href="/">
  </head>
  <body>
    <p>Welcome to <%= title %></p>
    <my-site>Loading app component<my-site>
    <script src="/javascript/src/vendor.bundle.js"></script>
    <script src="/javascript/src/main.bundle.js"></script>
  </body>
</html>
